<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">		
		<link href="style.css" rel="stylesheet" type="text/css">
		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="includeHTML.js"></script>		
		
		<title>About</title>
		
	</head>

	<body>	
		<div id="HomeContainer">

			<div data-include="header"></div>

			<!-- Tassy dance event page -->			
			<div id="MainContent">
				<div id="MainContainer">
					<u><h2>About page</h2></u>
					<p>Hello world!</p>
				</div>
			</div>



		</div>
	</body>

	<div data-include="footer"></div>

</html>