<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="styleUserPanel.css">

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="includeHTML.js"></script>

</head>

<body>
	<div data-include="header"></div>

	<div id="HomeContainer"></div>

	<div id="userPanelTabList">
		<h3>Settings</h3>
		<ul class="userPanelVerticalList">
			<a><li><ul class="userPanelVerticalList" style="display: inline-flex;">
				<li style="margin: 0 1em 0 0;">
					<img src="../assets/userIcon.png" width="20px" height="20px"></li>
				<li>
					<p>Edit Profile</p>
				</li>
			</ul></li></a>
			<a><li><ul class="userPanelVerticalList" style="display: inline-flex;">
				<li style="margin: 0 1em 0 0;">
					<img src="../assets/userIcon.png" width="20px" height="20px"></li>
				<li>
					<p>Personal Info</p>
				</li>
			</ul></li></a>
			<a><li><ul class="userPanelVerticalList" style="display: inline-flex;">
				<li style="margin: 0 1em 0 0;">
					<img src="../assets/userIcon.png" width="20px" height="20px"></li>
				<li>
					<p>Email Updates</p>
				</li>
			</ul></li></a>
			<a><li><ul class="userPanelVerticalList" style="display: inline-flex;">
				<li style="margin: 0 1em 0 0;">
					<img src="../assets/userIcon.png" width="20px" height="20px"></li>
				<li>
					<p>Help</p>
				</li>
			</ul></li></a>
		</ul>
	</div>

	<div id="MainContainer">
	
		<p>Hello world!</p>
		<p>You can only see me if you have the correct authorization!</p>
	
	</div>
	
</body>

<div data-include="footer"></div>

</html>